<div class="container-fluid">
  <p-panel header="usuario">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" *ngIf="formulario">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group">
          <label for="nombre">Nombre *</label>
          <input type="text" pInputText id="Nombre" formControlName="nombre" class="form-control">
          <div class="p-error" *ngIf="submitted && f.nombre.invalid">
            Nombre requerido
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
          <label for="usuario">Usuario *</label>
          <input type="text" pInputText id="usuario" formControlName="usuarioSistema" class="form-control"
                 minlength="8">
          <div class="p-error" *ngIf="submitted && f.usuarioSistema.invalid">
            Usuario requerido
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
          <label for="correo">Correo</label>
          <input type="text" id="correo" pInputText class="form-control" formControlName="email" pKeyFilter="email">
          <div class="p-error" *ngIf="submitted && f.email.invalid">
            Correo requerido
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
          <label>Rol *</label>
          <p-dropdown [options]="listaRoles" placeholder="Seleccione" formControlName="rol" filter="filter"
                      [style]="{'width':'100%'}"></p-dropdown>
          <div class="p-error" *ngIf="submitted && f.rol.invalid">
            Rol requerido
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
          <label for="usuario">Constraseña *</label>
          <div class="input-group mb-3">
            <input [type]="showPass" pInputText id="password" formControlName="password" class="form-control"
                   required>
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1" (click)="show(true)"><i class="pi {{eye}}"></i></span>
            </div>
          </div>
          <div class="p-error" *ngIf="submitted && f.password.invalid">
            Constraseña requerida
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
          <label for="correo">Confirmar constraseña *</label>
          <div class="input-group mb-3">
            <input [type]="showConfim" pInputText id="passwordC" formControlName="passwordConfirm" class="form-control"
                   required>
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon12" (click)="show(false)"><i class="pi {{eyeNew}}">
              </i></span>
            </div>
          </div>
          <div class="p-error" *ngIf="submitted && f.passwordConfirm.invalid">
            Constraseña requerida
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
          <div class="p-error" *ngIf="submitted && f.password.value!==f.passwordConfirm.value">
            Las contraseñas no coinciden
          </div>
        </div>
      </div>
      <div class="row" *ngIf="usuario && usuario._id">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
          <label class="control-label"></label>
          <p-checkbox formControlName="habilitado" binary="true" id="indicador" name="indicador"
                      label="Habilitado"></p-checkbox>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 form-footer-buttons">
          <button pButton type="button" class="p-button-danger" icon="pi pi-arrow-left" (click)="atras()"
                  label="Atras"></button>
          <button pButton type="submit" icon="pi pi-save"
                  label="Guardar"></button>
        </div>
      </div>
    </form>
  </p-panel>
</div>
