<header class="main-header">
  <!-- Logo -->
  <a routerLink="/dashboard" class="logo" (click)="redirigir()">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>G</b>IP</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>GIP </b>Seguros</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!--        &lt;!&ndash; Sidebar toggle button&ndash;&gt;-->
        <!--        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">-->
        <!--          <span class="sr-only">Toggle navigation</span>-->
        <!--        </a>-->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li id="userMenu" class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../../../assets/images/boy.svg" class="user-image">
                <span class="hidden-xs">{{usuarioLogueado.nombre}}</span>
              </a>
              <ul id="menuUsuario" class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <p>
                    {{usuarioLogueado.nombre}}
                  </p>
                </li>
                <li class="user-footer">
                  <div class="pull-right">
                    <a href="javascript:void(0)" class="btn btn-danger" (click)="cerrarSesion()">Cerrar sesion</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </nav>
</header>
