<div *ngIf="show==='T'" class="container-fluid">
  <p-table [columns]="cols" [value]="listaTiposVehiculos" [paginator]="true" [rows]="10" [responsive]="true" #dt>
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix" style="text-align: left">
        <button pButton (click)="agregar()"
                label="Agregar" icon="fa fa-plus"></button>
        <input type="text" pInputText size="50" placeholder="Buscar" style="float:right; width: 50%"
               (input)="dt.filterGlobal($event.target.value, 'contains')">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sort"
            class="text-center">
          {{col.header}}
          <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr [pSelectableRow]="row">
        <td class="text-center">{{row.codigo }} </td>
        <td class="text-center">{{row.nombre |uppercase}}</td>
        <td class="text-center" *ngIf="row.habilitado"><i style="color: green" class="fa fa-check"></i></td>
        <td class="text-center" *ngIf="!row.habilitado"><i style="color: red" class="fa fa-times"></i></td>
        <td class="text-center">
          <button pButton type="button" icon="pi pi-pencil" (click)="agregar(row)"
                  pTooltip="Editar" tooltipPosition="top"></button>
          <button pButton type="button" class="ui-button-danger" icon="fa fa-power-off"
                  style="margin-left: .5em" (click)="inhabilitar(row)" *ngIf="row.habilitado"
                  pTooltip="Inhabilitar" tooltipPosition="top"></button>
          <button pButton type="button" class="ui-button-success" icon="fa fa-power-off"
                  style="margin-left: .5em" (click)="habilitar(row)" *ngIf="!row.habilitado"
                  pTooltip="Habilitar" tooltipPosition="top"></button>
          <button pButton type="button" class="ui-button-success" icon="fa fa-users"
                  style="margin-left: .5em" (click)="verTasas(row)"
                  pTooltip="Asesores" tooltipPosition="top"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          no hay registros
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div *ngIf="show==='E'" class="container-fluid">

  <app-tipoVehiculo-editar (dismiss)="mostrarOcultar($event)" [listaSedes]="listaTiposVehiculos"
                    [tipoVehiculo]="tipoVehiculo"></app-tipoVehiculo-editar>
</div>
<div *ngIf="show==='TA'" class="container-fluid">
  <app-tasaTipoVehiculo (dismiss)="mostrarOcultar($event)"
                [tipoVehiculo]="tipoVehiculo"></app-tasaTipoVehiculo>
</div>
