
.navbar-dark .navbar-nav .nav-link {
  color: $primaryColor !important;
}

.navbar-cyan {
  background-color: $backgroundTopbarColor !important;
}

.navbar-success {
  background-color: $backgroundTopbarColor !important;
  color: $primaryColor !important;
}

.layout-navbar-fixed .wrapper .main-header {
  height: 50px !important;
  border-bottom: none;
}

.layout-navbar-fixed .wrapper .content-wrapper {
  margin-top: calc(3.5rem + -10px) !important;
}

