<div class="container-fluid">
  <p-table [columns]="cols" [value]="listaAsesores" [paginator]="true" [rows]="10" [responsive]="true" #dt>
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix" style="text-align: left">
        <button pButton (click)="agregar()"
                label="Agregar" icon="pi pi-plus"></button>
        <input type="text" pInputText size="50" placeholder="Buscar" style="float:right; width: 50%"
               (input)="dt.filterGlobal($event.target.value, 'contains')">
      </div>
      <div *ngIf="show==='E'" style="text-align: left">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()" *ngIf="formulario">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 form-group">
              <label for="numerodocumento">Numero documento *</label>
              <input type="text" id="numerodocumento" pInputText class="form-control"
                     formControlName="numeroDocumento" pKeyFilter="num">
              <div class="p-error" *ngIf="submitted && f.numeroDocumento.invalid">
                Numero documento requerido
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 form-group">
              <label for="nombre">Nombre *</label>
              <input type="text" id="nombre" pInputText class="form-control"
                     formControlName="nombre" upper-case>
              <div class="p-error" *ngIf="submitted && f.nombre.invalid">
                Nombre requerido
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 form-group">
              <label for="cargo">Cargo *</label>
              <input type="text" id="cargo" pInputText class="form-control"
                     formControlName="cargo" upper-case>
              <div class="p-error" *ngIf="submitted && f.cargo.invalid">
                Cargo requerido
              </div>
            </div>
          </div>
          <div class="row form-footer-buttons" style="margin-top: 0px !important;">
            <div class="col-12" style="display: flex; justify-content: center">
              <button pButton type="button" class="p-button-danger" icon="pi-ban"
                      (click)="mostrarOcultar('T', null)"
                      label="Cancelar"></button>
              <button pButton type="submit"  icon="pi pi-save"
                      label="Guardar"></button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sort"
            class="text-center">
          {{col.header}}
          <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr [pSelectableRow]="row">
        <td class="text-center">{{row.numeroDocumento }}</td>
        <td class="text-center">{{row.nombre |uppercase}}</td>
        <td class="text-center">{{row.cargo |uppercase}}</td>
        <td class="text-center" *ngIf="row.habilitado"><i style="color: green" class="pi pi-check"></i></td>
        <td class="text-center" *ngIf="!row.habilitado"><i style="color: red" class="pi pi-times"></i></td>
        <td class="text-center">
          <button pButton type="button" icon="pi pi-pencil" (click)="agregar(row)"
                  pTooltip="Editar" tooltipPosition="top"></button>
          <button pButton type="button" class="p-button-danger" icon="pi pi-power-off"
                 (click)="inhabilitar(row)" *ngIf="row.habilitado"
                  pTooltip="Inhabilitar" tooltipPosition="top"></button>
          <button pButton type="button" class="p-button-success" icon="pi pi-power-off"
                  (click)="habilitar(row)" *ngIf="!row.habilitado"
                  pTooltip="Habilitar" tooltipPosition="top"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          no hay registros
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="row ">
  <div class="col-12 form-footer-buttons">
    <button pButton type="button" class="p-button-danger" icon="pi pi-arrow-left" (click)="atras()"
            label="Atras"></button>
  </div>
</div>
