
button{
  margin-left: 5px !important;
}
.row-footer{
  margin-bottom: 10px;
}
.display-column{
  display: flex;
  flex-direction: column;
}
.falso-combo{
  color: #4897f3;
  font-weight: 400 !important;
}
