<div *ngIf="mostrar==='TABLA'" class="container-fluid">
  <div class="row">
    <div class="col-3">
      <button pButton type="button" icon="pi pi-plus" label="Nueva" class="" (click)="crear()"
      ></button>
      <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()"
              class="p-button-success "></button>
    </div>
    <div class="col-4">
      <p-calendar [(ngModel)]="fechas" [locale]="es" dateFormat="yy/mm/dd"
                  placeholder="fecha inicio-fin cotización" selectionMode="range" showButtonBar="true"
                  [monthNavigator]="true" [yearNavigator]="true" [yearRange]="rango" (onSelect)="filtroFechas()"
                  (onClearClick)="limpiarFiltroFechas()"
                  [readonlyInput]="true" [showIcon]="true"></p-calendar>
    </div>
    <div class="col-4">
      <input type="text" pInputText size="40" placeholder="Buscar"
             (input)="dt.filterGlobal($event.target.value, 'contains')" [(ngModel)]="busqueda">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <p-table [columns]="cols" [value]="cotizaciones" [paginator]="true" [rows]="10" [responsive]="true" #dt>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sort"
                class="text-center" [ngClass]="{'acciones':col.field==='def'}">
              {{col.header}}
              <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr [pSelectableRow]="row">
            <td class="text-center">{{row.numeroDocumento}}</td>
            <td class="text-center">{{row.tomador |uppercase}}</td>
            <td class="text-right"><strong>{{row.valorAsegurado| currency:'USD':'symbol':'1.0-0'}}</strong></td>
            <td class="text-center">{{row.celular}}</td>
            <td class="text-center">{{row.fechaInicioVigencia }}</td>
            <td class="text-center">{{row.fechaCotizacion}}</td>
            <td class="text-center" style="width: 100px;">{{row.placa}}</td>
            <td style="width: 180px">
<!--              <p-splitButton label="Editar" icon="pi pi-pencil" (onClick)="editar(row)" [model]="items"></p-splitButton>-->
              <div class="btn-group" role="group">
                <button pButton type="button" icon="pi pi-pencil" (click)="editar(row)"
                        pTooltip="Editar" tooltipPosition="top" class=""></button>
                <button type="button" class="p-button-success " icon="pi pi-file-pdf" data-toggle="tooltip"
                        pTooltip="Ver PDF" tooltipPosition="top"
                        pButton (click)="generarPdf(row)" *ngIf="generandoPdf!==row._id"></button>
                <div style="display: flex; justify-content: center; flex-direction: column;">
                  <i *ngIf="generandoPdf===row._id" class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
                </div>
                <button pButton type="button" icon="pi pi-plus-circle" class="p-button-danger " pTooltip="Valor MAPFRE"
                        tooltipPosition="top" (click)="verModalMapfre(row)"></button>
                <div style="display: flex; justify-content: center; flex-direction: column;">
                  <i *ngIf="generandoPdfComparativo===row._id" class="pi pi-spin pi-spinner"
                     style="font-size: 1.5rem"></i>
                </div>
                <button type="button" class="p-button-success " icon="pi pi-copy" data-toggle="tooltip"
                        pTooltip="PDF comparativo" tooltipPosition="top"
                        pButton (click)="generarPdfMapfre(row)"
                        *ngIf="generandoPdfComparativo!==row._id && row.valorMapfre"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              no hay registros
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<app-cotizador-editar *ngIf="mostrar==='EDITAR'" (dismiss)="mostrarComponente($event)"
                      [cotizacion]="cotizacion"></app-cotizador-editar>
<div *ngIf="mostrar==='PDF'">
  <ngx-extended-pdf-viewer [src]="pdfCotizacion" *ngIf="pdfCotizacion" useBrowserLocale="true" height="80vh"
                           delayFirstView="1000" [showPrintButton]="false"
                           [showBookmarkButton]="false" (pdfDownloaded)="descargarPdf()"
                           [showOpenFileButton]="false"></ngx-extended-pdf-viewer>
  <div class="row form-footer-buttons">
    <div class="col-md-10 offset-md-1 col-sm-12 col-lg-10 offset-lg-1">
      <button pButton type="button" icon="pi pi-arrow-left" label="Volver" (click)="mostrarComponente('TABLA')"
              style="margin: 10px"></button>
    </div>
  </div>
</div>

<p-dialog [header]="cotizacionEdit.tomador" [(visible)]="modalMapfre" *ngIf="modalMapfre"
          [modal]="true" [baseZIndex]="10000">
  <form (ngSubmit)="onSubmit()" *ngIf="formulario" [formGroup]="formulario">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 form-group">
        <label for="valorMapfre">Valor MAPFRE</label>
        <input [options]="{ prefix: '$ ', thousands: '.',nullable: false, precision: 0}"
               class="form-control" currencyMask formControlName="valorMapfre"
               id="valorMapfre" pInputText type="text">
        <small *ngIf="submitted && f.valorMapfre.invalid" class="p-error">
          Valor requerido
        </small>
      </div>
    </div>
    <div class="row" style="display: flex; justify-content: center">
      <p-button icon="pi pi-times" (click)="modalMapfre=false" label="Cancelar"
                styleClass="p-button-danger "></p-button>
      <p-button icon="pi pi-check" label="Guardar" type="submit"></p-button>
    </div>
  </form>
</p-dialog>
