
button{
  margin-left: 5px !important;
}
.row-footer{
  margin-bottom: 10px;
}
.display-column{
  display: flex;
  flex-direction: column;
}
.falso-combo{
  color: #4897f3;
  font-weight: 400 !important;
}
.valores{
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: ghostwhite;
  display: flex;
  justify-content: space-around;
}
