.custom-breadcrubm{
  background-color: white !important;
  color: #2c2c2c !important;
}
.breadcrumb-item{
  color: $primaryColor !important;
}
.accent-info .btn-link, .accent-info a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(.page-link):not(.btn) {
  color: $primaryColor !important;
}
.breadcrumb{
  background-color: white !important;
  padding:0px !important;
  margin-bottom: 0px !important;
}
