

<div [ngClass]="sessionStart ? 'wrapper ' : ''">
  <app-header *ngIf="sessionStart"></app-header>
  <app-menu *ngIf="sessionStart"></app-menu>
  <div [ngClass]="sessionStart ? 'content-wrapper' : 'wrapper-login '">
    <!--    Main content-->
    <section [ngClass]="sessionStart ? 'content ' : ''">
      <p-messages
        id="msgNotificacion"
        [value]="msgs" [closable]="true"
        class="messages-coustom"></p-messages>
      <router-outlet></router-outlet>
    </section>
  </div>
  <app-footer *ngIf="sessionStart"></app-footer>
</div>
