/*.card {*/
/*  width: 360px;*/
/*  margin-right: auto;*/
/*  margin-left: auto;*/
/*  background-color: rgba(0, 0, 0, 0.07) !important;*/
/*}*/

/*.imgLogin {*/
/*  width: 15%;*/
/*  margin-left: 45%;*/
/*  margin-right: auto;*/
/*}*/

/*.tarjeta {*/
/*  background-color: lavender !important;*/
/*}*/

/*.loginStyle {*/
/*  background-color: rgba(76, 166, 199, 0.47);*/
/*  border-radius: 5px;*/
/*}*/

/*.loginStyleBackground {*/
/*  background: url('../../../assets/images/carroseguro.jpg');*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  z-index: 1000;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  display: flex;*/
/*  background-size: cover !important;*/
/*}*/

// Colors
$greenSeaweed: rgba(169, 167, 167, 1);
$blueQueen: rgba(255, 24, 0, 1);
$redFire: rgb(222, 226, 230, 1);

// Fonts
$fontAsap: 'Asap', sans-serif;

.body {
  background-color: $redFire !important;
  font-family: $fontAsap;
  height: 100vh;
  width: 100%;
}

.login {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
  transition: 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);

  &::before, &::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 40% 45% 40% 35%;
    z-index: -1;
  }

  &::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba($blueQueen, 1) !important;
    animation: wawes 6s infinite linear;
    z-index: 0 !important;
  }

  &::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba($greenSeaweed, 1) !important;
    animation: wawes 7s infinite;
  }

  > input {
    font-family: $fontAsap;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }

  > button {
    font-family: $fontAsap;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: $redFire;
    transition: background-color 300ms;

    &:hover {
      background-color: darken($redFire, 5%);
    }
  }
}

@keyframes wawes {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

a {
  text-decoration: none;
  color: rgba(white, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

.image {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.btnIniciarSesion{
  background-color: #6c757d !important;
  border: none;
}
.btnIniciarSesion:hover{
  background-color: #ff1800 !important;
  border: none;
}
