.p-button-primary {
  background-color: #3282B8 !important;
  border: 1px solid #3282B8 !important;
}
.p-selectbutton .p-button.p-highlight {
  background: #3282B8 !important;
  border-color: #3282B8 !important;
  color: #ffffff !important;
}
.p-button-error{
  background-color: #b01e3c !important;
  border: 1px solid #b01e3c !important;
}
.p-button.p-button-icon-only {
  width: 2.357rem;
  padding: 0.5rem 0;
  height: 40px !important;
}
.p-button-success{
  background-color: #48ab28 !important;
  border: 1px solid #48ab28 !important;
}
//.p-button {
//  padding: 0.3rem 0.5rem !important;
//}
