.p-datatable-custom {
  font-size: 12px !important;
}
.p-datatable .p-datatable-header {
  padding: 0.5rem 0.5rem !important;
}
.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem !important;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem !important;
}
.p-paginator {
  border: none !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  word-break: break-word;
}

.p-datatable {
  &.p-datatable-custom {
    .p-datatable-tbody > tr > td {
      text-align: center !important;
    }
    .p-datatable-thead > tr > th {
      text-align: center !important;
    }
  }
}

$medium: 600px;
@media (max-width: $medium) {
  .p-datatable {
    &.p-datatable-responsive {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr > td {
        text-align: left;
        display: block;
        width: 100%;
        float: left;
        clear: left;
        border: 0 none;

        .p-column-title {
          padding: .4rem;
          min-width: 30%;
          display: inline-block;
          margin: -.4em 1em -.4em -.4rem;
          font-weight: bold;
        }

        &:last-child {
          border-bottom: 1px solid var(--surface-d);
        }
      }
    }
  }
}

