$primaryDarkColor: rgb(51, 133, 181);;
$primaryColor: rgb(51, 133, 181);;
$primaryLightColor: rgb(51, 133, 181);;
$backgroundMenuColor: #eef2f5;
$backgroundTopbarColor: #ffffff;
@import 'topbar/topbar';
@import 'menu/menu';
@import 'breadcrumb/breadcrumb';
@import 'loginRegistro/login';
@import 'custom-components/dropdown';
@import 'custom-components/inputMask';
@import 'custom-components/calendar';
@import 'custom-components/datatable';
@import 'custom-components/message';


