$primaryDarkColor: #0b6fbf;
$primaryColor: #0b6fbf;
$primaryLightColor: #0094fd;
$backgroundMenuColor: #eef2f5;
$backgroundTopbarColor: #ffffff;
//$primaryTextColor: #ffffff;
//$secondaryTextColor: #282727;
//$primaryDarkColor: #283593;
//$primaryLightColor: #9fa8da;
//$accentColor: #E91E63;
//$accentDarkColor: #ad1457;
//$accentLightColor: #f48fb1;
//$accentTextColor: #ffffff;
//$darkMenuBgColor: #424242;
//$darkMenuHoverColor: #676767;
//$darkMenuRouterLinkActiveColor: #9fa8da;
//$lightMenuRouterLinkActiveColor: #3F51B5;
//$horizontalLightMenuRouterLinkActiveColor: #9fa8da;

@import 'topbar/topbar';
@import 'menu/menu';
@import 'breadcrumb/breadcrumb';
@import 'loginRegistro/login';
@import 'custom-components/dropdown';
@import 'custom-components/inputMask';
@import 'custom-components/button';
@import 'custom-components/calendar';
@import 'custom-components/datatable';
@import 'custom-components/message';


